@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Anton', sans-serif; */
    font-size: 1.05em;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    color: #32aa13;
    margin: 0;
    /* margin-bottom: 0.5em; */
    text-align: center;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    color: #32aa13;
    margin: 0;
    text-align: center;
}

h5 {
    margin: 0 1.2em;
    color: #555;
    border-top: 2px solid #aaa;
}

p {
    text-align: justify;
    /* margin-top: 1em; */

}

input {
    font-size: 1.1em;
    padding: 0.5em 0.75em;
    transition: background-color 0.2s, color 0.3s;
    width: 100%;
    margin-top: 0.5em;
}

input[type="text"],
input[type="password"]
{
    /* width: 40%; */
    text-align: left;
    border: 2px solid #aaa;
}

input[type="submit"] {
    margin-top: 0.6em;
    padding: 0.7em 1.5em;
    cursor: pointer;
    color: #444;
    background-color: #99e487;   /* #80ee64; */
    border: 2px solid #666;
    border-radius: 0.25em;
    /* width: 175px; */
    font-weight: bold;
}

input:hover:not(:disabled),
input:focus:not(:disabled)
{
    background-color: #c4f0b9;
    border-color: #666;
}    

input[type="submit"]:hover:not(:disabled),
input[type="submit"]:focus:not(:disabled)
{
    background-color: #32aa13;
    color: white;
    border-color: #444;
}

input:disabled,
input[disabled]
{
    color: #999;
    border-color: #aaa;
    cursor: not-allowed;

}

.registration-container {
    max-width: 400px;
    margin: 1.5em auto;
    padding: 0.6em;
    text-align: center;
    background-color: #f2f2f2;
    border: 2px solid #aaa;
}

.registration-container > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.notification {
    max-width: 500px;
    margin: 1em auto;
    padding: 0.8em;
    text-align: center;
    background-color: #f2f2f2;
    border: 2px solid #aaa;
}

.notification:first-of-type {
    margin-top: 2em;
}

.sub-logo-text > p {
    /* background-color: #bbb; */
    margin-bottom: 0.8em;
}

.site-logo {
    width: 150px;
    height: 150px;
    border: 2px solid #aaa;
    margin: 0 auto;
    margin-bottom: 1em;
}

.password > p {
    font-size: 0.9em;
    margin: 0;
    padding: 0.5em;
}

.password-strength {
    display: inline-block;
}

.password-strength > p {
    display: inline-block;
}

.password-strength > ul {
    list-style-type: none;
    display: inline-block;
    line-height: 0.7em;  /* bez tej wartości elementy dostają jakiegoś nienaturalnego odstępu pod sobą... niewielki, ale jednak o 30% większy niż pozostałe trzy (i równe) strony  */
    padding: 0.5em;
        /* border: 2px solid #aaa; */
        /* background-color: #ddd; */
    margin: 0;
}

.password-strength li {
    display: inline-block;
    width: 3em;
    padding: 0.5em;
    border: 2px solid #666;
    background-color: #ccc;
}

.password-strength .weak {
    background-color:#5a2a0e;
}

.password-strength .average {
    background-color:#707712;
}

.password-strength .strong {
    background-color:#245a0e;
}

.password-strength .weak.ok {
    background-color: #f60;      /* #df5c20; */
    border-color: #f60;
}

.password-strength .average.ok {
    background-color: #dcdf20;
    border-color: #dcdf20;
}

.password-strength .strong.ok {
    background-color: #46df20;
    border-color: #46df20;
}
