* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
}

h2 {
    margin: 0;
    text-align: left;
    color: orangered;
}

p {
    text-align: left;
    margin: 0.5em auto;
}

input,
select
{
    font-size: 1.1em;
    padding: 0.1em 0.5em;
    transition: background-color 0.2s;

}

input[type="text"],
select
{
    width: 15.2em;
    text-align: right;
    border: 2px solid #aaa;
}

/* select
{
    width: 15.2em;
} */

select:hover:not(:disabled),
select:focus:not(:disabled),
input:hover:not(:disabled),
input:focus:not(:disabled)
{
    /* background-color: #eba084; */
    background-color: rgb(255, 81, 17);
    color: white;

    border-color: #444;
}

select > option {
    background-color: white;
    color: black;
}

input:disabled,
input[disabled]
{
    cursor: not-allowed;
}

label {
    font-size: 0.8em;
    padding: 0.2em;
}

label > span {
    color: orangered;
    font-weight: bold;
}

.currency-converter-container {
    max-width: 705px;
    margin: 2em auto;
    padding: 0.8em;
    text-align: center;
    background-color: #f5f5f5;
    border: 2px solid #aaa;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.button-container > div:nth-of-type(2) {
    padding: 0.9em;
    padding-top: 1.7em;     /* strzałka jest wtedy pomiędzy pustymi obszarami w pionie */
    font-weight: bold;
    text-shadow: 0 0 1px black;
}

.left-input-currency > *,
.right-output-currency > *
{
    display: block;
}

.currency-converter-container .convertion-source {   /* dla zwiększenia siły selektora */
    border-color: #444;;
}


.animate-rotation-180 {
    /* animation: rotate-y-180 0.3s;
    animation-fill-mode: both; */

    transform: rotateY(180deg);     /* prostsze podejście, bez tworzneia dwóch klas i animacji oraz zabawy z jej trybami i cofaniem/nadawaniem zmian */
}


/* @keyframes rotate-y-180 {
    100% { 
        transform: rotateY(180deg);
    }
} */

.notification {
    max-width: 525px;
    margin: 1em auto;
    padding: 0.8em;
    text-align: center;
    background-color: #f2f2f2;
    border: 2px solid #aaa;
}

.notification.info {
    max-width: 705px;
    padding: 0.5em;
    background-color: #f77445; /* #ff682f; */
}

.notification.info button {
    font-size: 1.1em;;
    padding: 0.25em 0.75em;
    margin-top: 0.25em;
    background-color: #f5f5f5;
    border: 2px #aaa solid;
    color: black;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}

.notification.info button:hover {
    /* background-color: white; */
    border-color: #444;
    color: orangered;
}



.currency-converter-container ~ .notification { /* lepszy selektor rodzeństwa niż położenie: .notification:first-of-type */
    margin-top: 2em;    /* choć TA SAMA reguła jest w poprzeniku */
}

.notification > h3 {
    margin: 0.2em auto;
    color: orangered;
}

.notification > h4 {
    margin: 0.2em auto;
    color: #222;
    font-weight: normal;
}

.notification > h5 {
    margin: 0.5em -0.95em;
    text-transform: uppercase;
    letter-spacing: 1em;
    background-color: darkgray;
    padding: 0.3em;
    color: white;
}

.notification > p {
    font-size: 0.8em;
    text-align: justify;
    margin: 0;
}

.currency-table-status {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* height: auto; */
    font-size: 0.9em;
    padding: 0.5em;
    background-color: rgba(247, 116, 69, 1);    /* wcześniej: orangered @ 100% */
    max-height: 8em;
    overflow-y: auto;
}

.currency-table-status h2 {
    color: white;
    text-align: center;
    padding-bottom: 0.3em;
}

.currency-table {
    color: #444;
    background-color: #f77445;    /* orangered @ 100% */
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.currency-table > li {
    display: inline-block;
    word-wrap: break-word;
    padding: 0.35em;
    color: #fff;
}

.currency-table > li:nth-of-type(2n) {
    background-color: rgba(255, 100, 30, 0.8);   /* BYŁO: orangered @ 100% */
}

.currency-table > li:nth-of-type(2n+1) {
    background-color: rgba(204, 71, 9, 0.8);   /* BYŁO: orangered @ 100% */
}

.currency-table > li > span {
    color: #222;
    font-weight: bold;
}