body {
    margin: 0 auto;
    width: 500px;
        min-height: 300px;
}

.repertuar {
    border: 1px dotted #4f4f4f;
    list-style: none;
    padding: 10px;
}

.repertuar li {
    background-color: #F5F5F5;
    padding: 10px;
}

.repertuar .ticket {
    display: none;
    margin-top: 10px;
}

/* ++++++ DODANE ++++++ */

.status-ajaksa,
.status-ajaksa-2 
{
    margin: 1em 2em;
    min-height: 4em;
    width: 80%;
    padding: 1em;
    text-align: center;
    border: 2px dotted #666;
    background-color: #ccc;
    background-color: rgba(0, 0, 0, 0.1);
}

.status-zly {
    background-color: #c40909;
    background-color: rgba(196, 9, 9, 0.6);
}

.status-dobry {
    background-color:#00c41a;
    background-color: rgba(0, 196, 26, 0.7);
}

.klasa-tytulu {
    padding: 0.1em;
    font-style: italic;
}

.klasa-tytulu:nth-of-type(2n) {
    background-color: #fff;
}

ul > ul {
    list-style-type: none;
    padding-left: 0;
}

ul > ul h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}